<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Test Request Basket API" verbose="1">
    <test name="Regression">
        <classes>

            <class name="tests.api.baskets.delete.TestBasketsDelete"/>
            <class name="tests.api.baskets.delete.TestBasketsDeleteWithoutName"/>
            <class name="tests.api.baskets.delete.TestBasketsDeleteWithoutToken"/>
            <class name="tests.api.baskets.delete.TestBasketsDeleteWrongName"/>
            <class name="tests.api.baskets.delete.TestBasketsDeleteWrongToken"/>

            <class name="tests.api.baskets.get.TestBasketGetSettings"/>
            <class name="tests.api.baskets.get.TestBasketGetStats"/>
            <class name="tests.api.baskets.get.TestBasketGetWrongToken"/>
            <class name="tests.api.baskets.get.TestBasketsGet"/>

            <class name="tests.api.baskets.post.TestBasketsPost"/>
            <class name="tests.api.baskets.post.TestBasketsPostLengthOfName"/>
            <class name="tests.api.baskets.post.TestBasketsPostNameDuplication"/>
            <class name="tests.api.baskets.post.TestBasketsPostWithoutName"/>
            <class name="tests.api.baskets.post.TestBasketsPostWithoutToken"/>
            <class name="tests.api.baskets.post.TestBasketsPostWrongConfiguration"/>
            <class name="tests.api.baskets.post.TestBasketsPostWrongName"/>

            <class name="tests.api.responses.get.TestResponsesGet"/>
            <class name="tests.api.responses.get.TestResponsesGetWithoutToken"/>
            <class name="tests.api.responses.get.TestResponsesGetWrongName"/>
            <class name="tests.api.responses.get.TestResponsesGetWrongToken"/>

            <class name="tests.api.responses.put.TestResponsesPut"/>
            <class name="tests.api.responses.put.TestResponsesPutBadRequest"/>
            <class name="tests.api.responses.put.TestResponsesPutWithoutToken"/>
            <class name="tests.api.responses.put.TestResponsesPutWrongConfiguration"/>
            <class name="tests.api.responses.put.TestResponsesPutWrongName"/>
            <class name="tests.api.responses.put.TestResponsesPutWrongToken"/>

        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->